*.ini
livro_texto/Algebra_Linear_Com_Aplicações_Kolman_8ª_edição.pdf
livro_texto/Algebra_Linear_Com_Aplicações_Kolman_8ª_edição_OCR.pdf
livro_texto/Algebra_Linear_Steinbruch.pdf
livro_texto/Introdução_À_Álgebra_Linear_-_Bernard_Kolman.pdf
video_aulas/Álgebra_Linear_Aula_01.mp4
video_aulas/Álgebra_Linear_Aula_01.webm
video_aulas/Álgebra_Linear_Aula_02.mp4
video_aulas/Álgebra_Linear_Aula_02.webm
video_aulas/Álgebra_Linear_Aula_03.webm
video_aulas/Álgebra_Linear_Aula_04.webm
video_aulas/Álgebra_Linear_Aula_06.mp4
video_aulas/Álgebra_Linear_Aula_06.webm
video_aulas/Álgebra_Linear_Aula_08.mp4
video_aulas/Álgebra_Linear_Aula_08.webm
video_aulas/Álgebra_Linear_Aula_10.webm
video_aulas/Álgebra_Linear_Aula_14.mp4
video_aulas/Álgebra_Linear_Aula_14.webm
